<div>
    <h2>
        <span jhiTranslate="minisigaApp.horario.home.title">Horarios</span>
        <button class="btn btn-primary float-right jh-create-entity create-horario" [routerLink]="['/', { outlets: { popup: ['horario-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="minisigaApp.horario.home.createLabel">
            Create new Horario
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="horarios">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="minisigaApp.horario.dia">Dia</span></th>
            <th><span jhiTranslate="minisigaApp.horario.horaInicio">Hora Inicio</span></th>
            <th><span jhiTranslate="minisigaApp.horario.horaFim">Hora Fim</span></th>
            <th><span jhiTranslate="minisigaApp.horario.descExtenso">Desc Extenso</span></th>
            <th><span jhiTranslate="minisigaApp.horario.turma">Turma</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let horario of horarios ;trackBy: trackId">
                <td><a [routerLink]="['../horario', horario.id ]">{{horario.id}}</a></td>
                <td jhiTranslate="{{'minisigaApp.DIAS.' + horario.dia}}">{{horario.dia}}</td>
                <td>{{horario.horaInicio | date:'medium'}}</td>
                <td>{{horario.horaFim | date:'medium'}}</td>
                <td>{{horario.descExtenso}}</td>
                <td>
                    <span *ngFor="let turma of horario.turmas; let last = last">
                            <a class="form-control-static" [routerLink]="['../turma', turma?.id ]">{{turma.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../horario', horario.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'horario/'+ horario.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'horario/'+ horario.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
