<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myHorarioLabel" jhiTranslate="minisigaApp.horario.home.createOrEditLabel">Create or edit a Horario</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!horario.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="horario.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="minisigaApp.horario.dia" for="field_dia">Dia</label>
            <div class="input-group">
                <input id="field_dia" type="text" class="form-control" name="dia" ngbDatepicker  #diaDp="ngbDatepicker" [(ngModel)]="horario.dia"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="diaDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.dia?.dirty && editForm.controls.dia?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dia?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="minisigaApp.horario.horaInicio" for="field_horaInicio">Hora Inicio</label>
            <div class="d-flex">
                <input id="field_horaInicio" type="datetime-local" class="form-control" name="horaInicio" [(ngModel)]="horario.horaInicio"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.horaInicio?.dirty && editForm.controls.horaInicio?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.horaInicio?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.horaInicio?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="minisigaApp.horario.horaFim" for="field_horaFim">Hora Fim</label>
            <div class="d-flex">
                <input id="field_horaFim" type="datetime-local" class="form-control" name="horaFim" [(ngModel)]="horario.horaFim"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.horaFim?.dirty && editForm.controls.horaFim?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.horaFim?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.horaFim?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="minisigaApp.horario.descExtenso" for="field_descExtenso">Desc Extenso</label>
            <input type="text" class="form-control" name="descExtenso" id="field_descExtenso"
                [(ngModel)]="horario.descExtenso" required />
            <div [hidden]="!(editForm.controls.descExtenso?.dirty && editForm.controls.descExtenso?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.descExtenso?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="minisigaApp.horario.turma" for="field_turma">Turma</label>
            <select class="form-control" id="field_turma" multiple name="turma" [(ngModel)]="horario.turmas">
                <option [ngValue]="getSelected(horario.turmas, turmaOption)" *ngFor="let turmaOption of turmas; trackBy: trackTurmaById">{{turmaOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
