
<div *ngIf="disciplina">
    <h2><span jhiTranslate="minisigaApp.disciplina.detail.title">Disciplina</span> {{disciplina.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="minisigaApp.disciplina.codigo">Codigo</span></dt>
        <dd>
            <span>{{disciplina.codigo}}</span>
        </dd>
        <dt><span jhiTranslate="minisigaApp.disciplina.nome">Nome</span></dt>
        <dd>
            <span>{{disciplina.nome}}</span>
        </dd>
        <dt><span jhiTranslate="minisigaApp.disciplina.qtdCreditos">Qtd Creditos</span></dt>
        <dd>
            <span>{{disciplina.qtdCreditos}}</span>
        </dd>
        <dt><span jhiTranslate="minisigaApp.disciplina.cargaHoraria">Carga Horaria</span></dt>
        <dd>
            <span>{{disciplina.cargaHoraria}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'disciplina/'+ disciplina.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
