<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myNotaLabel" jhiTranslate="minisigaApp.nota.home.createOrEditLabel">Create or edit a Nota</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!nota.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="nota.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="minisigaApp.nota.conceito" for="field_conceito">Conceito</label>
            <select class="form-control" name="conceito" [(ngModel)]="nota.conceito" id="field_conceito"  required>
                <option value="A" jhiTranslate="minisigaApp.CONCEITO.A">A</option>
                <option value="B" jhiTranslate="minisigaApp.CONCEITO.B">B</option>
                <option value="C" jhiTranslate="minisigaApp.CONCEITO.C">C</option>
                <option value="D" jhiTranslate="minisigaApp.CONCEITO.D">D</option>
            </select>
            <div [hidden]="!(editForm.controls.conceito?.dirty && editForm.controls.conceito?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.conceito?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="minisigaApp.nota.aluno" for="field_aluno">Aluno</label>
            <select class="form-control" id="field_aluno" name="aluno" [(ngModel)]="nota.aluno">
                <option [ngValue]="null"></option>
                <option [ngValue]="alunoOption.id === nota.aluno?.id ? nota.aluno : alunoOption" *ngFor="let alunoOption of alunos; trackBy: trackAlunoById">{{alunoOption.dre}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="minisigaApp.nota.turma" for="field_turma">Turma</label>
            <select class="form-control" id="field_turma" name="turma" [(ngModel)]="nota.turma" >
                <option [ngValue]="null"></option>
                <option [ngValue]="turmaOption.id === nota.turma?.id ? nota.turma : turmaOption" *ngFor="let turmaOption of turmas; trackBy: trackTurmaById">{{turmaOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
