<!-- First and fixed navbar for all users -->
<nav class="navbar navbar-inverse navbar-toggleable-md jh-navbar">
    <div class="jh-logo-container float-left">
        <a class="jh-navbar-toggler hidden-lg-up float-right" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
            <i class="fa fa-bars"></i> 
        </a>
        <a class="navbar-brand logo float-left" routerLink="/" (click)="collapseNavbar()">
            <span class="logo-img"></span>
            <span jhiTranslate="global.title" class="navbar-title">navbar-title</span>
        </a>
    </div>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
        <ul class="navbar-nav ml-auto">
            <!-- Case when the user is offline -->
            <li *ngSwitchCase="false">
                <button class="btn btn-success" type="submit" (click)="login()">
                    <i class="fa fa-fw fa-sign-in" aria-hidden="true"></i>
                    <span jhiTranslate="global.menu.login">Sign in</span>
                </button>
            </li>
            <!-- Case when the user is online -->
            <li *ngSwitchCase="true">
                <button class="btn btn-success" type="submit" (click)="logout()">
                    <i class="fa fa-fw fa-sign-in" aria-hidden="true"></i>
                    <span jhiTranslate="global.menu.logout">Sign in</span>
                </button>
            </li>
        </ul>
    </div>
</nav>

<!-- Second and fixed navbar for auth users -->
<nav class="navbar navbar-inverse navbar-toggleable-md jh-navbar loggednavbar" [ngSwitch]="isAuthenticated()">
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" *ngSwitchCase="true">
        <ul class="navbar-nav ml-auto">
            <!-- For all users -->
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
                    <i class="fa fa-fw fa-hdd-o" aria-hidden="true"></i>
                    <span jhiTranslate="global.menu.home">Home</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="turma" (click)="collapseNavbar()">
                    <i class="fa fa-fw fa-hdd-o" aria-hidden="true"></i>
                    <span jhiTranslate="global.menu.courseenrollment">Enrollment</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
                    <i class="fa fa-fw fa-hdd-o" aria-hidden="true"></i>
                    <span jhiTranslate="global.menu.courseclasses">Courses</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="calendario" (click)="collapseNavbar()">
                    <i class="fa fa-fw fa-hdd-o" aria-hidden="true"></i>
                    <span jhiTranslate="global.menu.calendar">Calendar</span>
                </a>
            </li>

            <!-- Only for admin user -->
            <li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">
                    <span>
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.admin.main">Management</span>
                        <b class="caret"></b>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li>
                        <a class="dropdown-item" routerLink="calendario" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-user" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.calendar">Calendar</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="user-management" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-user" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.coursemanagement">Course management</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="turma" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-user" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.classmanagement">Class management</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="user-management" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-user" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.registergrades">Register Grades</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>