<div class="row">
    <div class="col-md-9 offset-md-1">
        <div [ngSwitch]="isAuthenticated()">
            <h1 class="display-4" jhiTranslate="home.headtitle" *ngSwitchCase="false">Welcome, Message!</h1>
            <p class="lead" jhiTranslate="home.subtitle">Subtitle part of the home page</p>

            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account" jhiTranslate="home.logged.message"
                    translateValues="{username: '{{account.firstName}}'}"> Welcome, {{account.firstName}}.
                </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="home.unlogged.message">Unlogged message</span>
            </div>
        </div>
    </div>
</div>
